@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  color: var(--color-primary);
  text-transform: capitalize;
  font-size: to.rem(24px);
  font-size: fluid(24px, 30px);
  background-color: transparent;
  padding: 0;

  &:hover {
    svg {
      transform: translateX(to.rem(-10px));
    }
  }

  svg {
    position: relative;
    transition: 0.4s ease transform;
    width: to.rem(48px);
    width: fluid(30px, 48px);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.titleMarkup {
  margin-right: to.rem(20px);

  @include mq($from: tablet) {
    margin-right: to.rem(35px);
  }

  span {
    font-weight: 700;
  }
}
