@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 0;
  text-decoration: none;
  appearance: none;
  cursor: pointer;
  color: var(--color-primary);
  text-transform: capitalize;
  font-size: rem(24px);
  font-size: clamp(
    #{rem(24px)},
    1.2991071428571428rem + 0.8241758241758242vw,
    #{rem(30px)}
  );
  background-color: transparent;

  svg {
    position: relative;
    transition: 0.4s ease transform;
    width: rem(48px);
    width: clamp(
      #{rem(30px)},
      1.2723214285714284rem + 2.4725274725274726vw,
      #{rem(48px)}
    );
  }
}

.titleMarkup {
  margin-right: rem(20px);

  @include mq($from: tablet) {
    margin-right: rem(35px);
  }

  span {
    font-weight: 700;
  }
}
