@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  @include breakContainer;

  padding: 0 var(--page-gutter);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-100%);
  display: none;
  z-index: 2;

  @include mq($from: tablet) {
    display: block;
  }

  svg {
    width: rem(40px);
    stroke: white;
  }
}

.prev {
  left: calc(var(--page-gutter) + #{rem(20px)});
}

.next {
  right: calc(var(--page-gutter) + #{rem(20px)});
}
