@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
}

.schedule {
  display: block;
}

.days {
  display: flex;
  margin-bottom: to.rem(60px);
  justify-content: center;
  gap: to.rem(15px);

  @include mq($from: mainMenu) {
    gap: to.rem(35px);
  }
}

.title {
  margin-bottom: var(--component-spacing);
}

.date {
  text-align: center;
  margin-bottom: to.rem(30px);
}

.dayButton {
  display: block;
  font-size: to.rem(18px);
  color: var(--color-white);
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  font-weight: 700;

  @include mq($from: mainMenu) {
    font-size: to.rem(30px);
  }
}

.dayButtonActive {
  color: var(--color-primary);
  text-decoration: underline;
}
