@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  padding-left: var(--page-gutter-left);
  padding-right: var(--page-gutter-right);
  height: 100%;

  @include mq($from: mainMenu) {
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @include mq($from: mainMenu) {
      display: flex;
      height: 100%;
    }

    li {
      margin: 0 0 to.rem(20px);
      font-size: to.rem(40px);
      font-weight: 700;
      line-height: 1;
      padding: 0;

      @include mq($from: mainMenu) {
        margin: 0 to.rem(10px);
        font-size: to.rem(16px);
        font-weight: 400;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .dropdown {
    &:hover,
    &:focus-within {
      .dropdownMenu {
        @include mq($from: mainMenu) {
          visibility: visible;
          opacity: 1;
          background-color: var(--header-bg-color);
        }
      }
    }
  }

  .dropdownMenu {
    padding-left: to.rem(20px);
    overflow: hidden;

    @include mq($from: mainMenu) {
      position: absolute;
      padding: to.rem(16px) 1000em to.rem(27px);
      margin: 0 -1000em;
      top: var(--header-height);
      visibility: hidden;
      z-index: 1;
      height: auto;
      opacity: 0;
      background-color: var(--header-bg-color);
      transition: all 0.2s ease-in-out;
    }

    ul {
      display: block;
      margin-top: to.rem(30px);

      @include mq($from: mainMenu) {
        display: block;
        margin-top: 0;
      }

      li {
        margin: 0;
        font-size: to.rem(30px);
        font-weight: 400;

        &:not(:last-child) {
          margin: 0 0 to.rem(10px);

          @include mq($from: mainMenu) {
            margin: 0 0 to.rem(10px);
          }
        }

        @include mq($from: mainMenu) {
          font-size: to.rem(16px);
          margin: 0;

          a {
            color: var(--main-menu-dropdown-text-color);
          }
        }
      }
    }
  }
}
