@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  padding-left: var(--page-gutter-left);
  padding-right: var(--page-gutter-right);

  @include mq($from: tablet) {
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @include mq($from: tablet) {
      display: flex;
    }

    li {
      margin: 0 0 to.rem(30px);
      font-size: to.rem(50px);
      font-weight: 700;
      line-height: 1;
      padding: 0;

      @include mq($from: tablet) {
        margin: 0 to.rem(10px);
        font-size: to.rem(16px);
        font-weight: 400;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
