@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  padding-left: var(--page-gutter-left);
  padding-right: var(--page-gutter-right);
  height: 100%;

  @include mq($from: tablet) {
    padding: 0;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @include mq($from: tablet) {
      display: flex;
      height: 100%;
    }

    li {
      margin: 0 0 to.rem(30px);
      font-size: to.rem(50px);
      font-weight: 700;
      line-height: 1;
      padding: 0;

      @include mq($from: tablet) {
        margin: 0 to.rem(10px);
        font-size: to.rem(16px);
        font-weight: 400;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .dropdown {
    position: relative;

    &:hover {
      .dropdownMenu {
        @include mq($from: tablet) {
          display: block;
        }
      }
    }
  }

  .dropdownMenu {
    position: fixed;
    top: to.rem(96px);
    left: 0;
    z-index: 11;
    height: calc(100% - #{to.rem(96px)});
    width: 100%;
    padding-left: var(--page-gutter-left);
    padding-right: var(--page-gutter-right);
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-menu-mobile-bg-color);
    transform: translateX(100%);

    @include mq($from: tablet) {
      position: absolute;
      padding: to.rem(20px);
      text-align: center;
      border-top: to.rem(1px) solid var(--color-primary);
      min-width: to.rem(150px);
      display: none;
      top: to.rem(96px);
      z-index: 1;
      left: calc(-50% - 10px);
      transform: none;
      height: auto;
    }

    ul {
      display: block;

      li {
        margin: 0;

        &:not(:last-child) {
          margin: 0 0 to.rem(10px);
        }
      }
    }
  }
}

.backButton {
  position: absolute;
  top: 0;
  background-color: transparent;
  border: 0;
  padding: 0;

  svg {
    --color-primary: var(--main-menu-mobile-text-color);
    width: to.rem(50px);
    transform: scaleX(-1);
  }

  @include mq($from: tablet) {
    display: none;
  }
}
