@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  overflow: hidden; // to contain background swirl
  position: relative; // to contain background swirl

  main {
    padding: 0;
    min-width: 0; // Fixes swiper layout issues
  }
}
