@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  h2 {
    color: var(--color-primary);
  }
}

.formFields {
  > div {
    margin-bottom: to.rem(30px);
    width: 100%;
  }
}
