@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  display: flex;

  p,
  li {
    font-size: rem(18px);
  }

  > aside {
    width: rem(300px);
    background-color: var(--color-white);
    mix-blend-mode: hue;
    padding: rem(30px);
  }
}

.menuTitle {
  color: var(--color-primary);
  margin-bottom: rem(27px);
  padding-bottom: rem(27px);
  border-bottom: 1px solid var(--color-primary);
}

.article {
  background-color: var(--color-white);
  padding: rem(30px);
  width: calc(100% - #{rem(330px)});
  display: flex;

  aside {
    width: rem(300px);
    margin-left: rem(30px);
  }
}

.content {
  width: calc(100% - #{rem(300px)});
}
