@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  position: relative;
  padding: rem(60px) 0 rem(100px);
  margin: 0 var(--page-gutter-right) 0 var(--page-gutter-left);
  background-color: transparent;
  border-top: rem(1px) solid var(--color-primary);
  display: grid;
  gap: rem(30px) 0px;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
    'social'
    'foundation-menu'
    'summit-menu'
    'legal';

  @include mq($from: tablet) {
    gap: 0px rem(30px);
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'social foundation-menu summit-menu'
      'legal foundation-menu summit-menu';
  }
}

.foundationMenu {
  grid-area: foundation-menu;
}

.summitMenu {
  grid-area: summit-menu;
}

.social {
  grid-area: social;
}

.legal {
  grid-area: legal;

  @include mq($from: tablet) {
    align-self: end;
  }
}
