@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.link {
  text-decoration: none;
  color: var(--color-text-reverse);

  &:hover {
    color: var(--color-primary);
  }
}

.active {
  color: var(--color-primary);
  position: relative;
}

.main {
  border-left: 2px solid transparent;
  padding-left: to.rem(19px);
  display: block;
  line-height: 0.75;

  &.active {
    border-left: 2px solid var(--color-primary);
  }

  @include mq($from: tablet) {
    border: 0;
    padding: 0;
    line-height: 1;

    &.active {
      border: 0;

      &::after {
        content: '';
        width: to.rem(6px);
        height: to.rem(6px);
        border-radius: 50%;
        background-color: var(--color-primary);
        display: block;
        position: absolute;
        bottom: -#{to.rem(10px)};
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
