@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  text-decoration: none;
  color: var(--color-black);

  &:hover {
    color: var(--color-primary);
  }
}

.active {
  color: var(--color-primary);
}
