@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.link {
  text-decoration: none;
  color: var(--color-text-reverse);
  cursor: pointer;
  background-color: transparent;
  border: 0;

  &:hover {
    color: var(--color-primary);
  }
}

.active {
  position: relative;

  .link {
    color: var(--color-primary);
  }
}

.main,
.submain {
  &.active {
    border-left: 2px solid var(--color-primary);

    @include mq($from: mainMenu) {
      border: 0;
    }
  }

  .link {
    border-left: 2px solid transparent;
    padding-left: to.rem(19px);
    line-height: 1;
    font-weight: 700;
    text-align: left;

    span {
      min-width: 0;
    }

    svg {
      --color-primary: var(--main-menu-mobile-text-color);
      width: to.rem(50px);
      margin-left: to.rem(10px);
      @include mq($from: mainMenu) {
        display: none;
      }
    }

    @include mq($from: mainMenu) {
      border: 0;
      padding: 0;
      line-height: 1;
      font-weight: 400;
      display: block;
      text-align: center;
      white-space: nowrap;
    }
  }
}

.main {
  &.active {
    .link {
      @include mq($from: tablet) {
        position: relative;
        &::after {
          content: '';
          width: to.rem(6px);
          height: to.rem(6px);
          border-radius: 50%;
          background-color: var(--color-primary);
          display: block;
          position: absolute;
          bottom: -#{to.rem(10px)};
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.titleSpan {
  display: inline-block;
}
