@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.link {
  text-decoration: none;
  color: var(--color-text-reverse);
  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  font-weight: inherit;

  &:hover {
    color: var(--color-primary);
  }
}

.active {
  position: relative;

  .link {
    color: var(--color-primary);
  }
}

.main {
  > .link {
    &:hover {
      text-decoration: underline;
      text-underline-offset: to.rem(11px);
    }
  }

  &.active {
    > .link {
      text-decoration: underline;
      text-underline-offset: to.rem(11px);
    }
  }
}

.submain {
  &.active {
    > .link {
      color: var(--color-primary);
    }
  }
}

.main,
.submain {
  .link {
    line-height: 1;
    text-align: left;
    display: flex;
    align-items: center;
    width: 100%;

    span {
      min-width: 0;
    }

    .arrow {
      width: to.rem(25px);
      margin-left: auto;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: to.rem(11px);
      }

      @include mq($from: mainMenu) {
        display: none;
      }
    }

    @include mq($from: mainMenu) {
      border: 0;
      padding: 0;
      line-height: 1;
      font-weight: 400;
      display: block;
      white-space: nowrap;
      width: auto;
    }
  }
}

.titleSpan {
  display: inline-block;
}
