@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  margin-top: 0;
  line-height: 1.3;
}

.h1 {
  font-size: to.rem(32px);
  font-size: fluid(32px, 52px);
  font-weight: 700;
}

.h2 {
  font-size: to.rem(24px);
  font-weight: 700;
}

.h3 {
  font-size: to.rem(18px);
  font-weight: 700;
}

.h4 {
  font-size: to.rem(13px);
  font-weight: 700;
}

.h5 {
  font-size: to.rem(13px);
  font-weight: 700;
}

.h6 {
  font-size: to.rem(13px);
  font-weight: 700;
}

.body1 {
  font-weight: 400;
  margin-bottom: 1rem;
  line-height: 1.466;
  font-size: fluid(18px, 25px);
}

.body2 {
  font-weight: 400;
  font-size: to.rem(18px);
  margin-bottom: 1rem;
  line-height: 1.538;
}

.quote {
  font-weight: 400;
  font-size: to.rem(15px);
  margin-bottom: 1rem;
  line-height: 1.466;
  display: block;
}

.noMargin {
  margin-bottom: 0;
}
