@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  background-image: url(/bg-swirl.svg);
  background-repeat: repeat;
  background-size: 200%;
  filter: blur(150px) opacity(0.4);
}
