@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  background-color: var(--color-white);
  padding: to.rem(30px) 0;
}

.logo {
  height: to.rem(42px);
  margin: 0 to.rem(100px);
}
