@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  max-width: to.rem(800px);
}

.faq {
  &:not(:last-child) {
    margin-bottom: to.rem(30px);
  }
}

.question {
  display: flex;
  padding: to.rem(19px);
  border: 1px solid var(--color-primary);
  align-items: center;
  cursor: pointer;
  width: 100%;
  background-color: transparent;
}

.questionIcon {
  width: to.rem(25px);
  margin-left: auto;

  svg {
    width: to.rem(11px);
    margin-top: to.rem(10px);
  }
}

.questionTitle {
  padding-right: to.rem(20px);
  font-weight: 400;
  font-size: to.rem(18px);

  @include mq($from: tablet) {
    font-size: to.rem(24px);
  }
}

.answer {
  height: 0;
  overflow: hidden;
  padding: 0 to.rem(19px);

  > *:first-child {
    margin-top: to.rem(20px);
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
