@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  aspect-ratio: 16/9;
}

.media {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

.playButton {
  width: rem(76px);
  grid-area: 1 / 1 / 2 / 2;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}
