@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
}

.small {
  padding-bottom: rem(36px);

  @include mq($from: tablet) {
    padding-bottom: rem(50px);
  }
}

.medium {
  padding-bottom: rem(100px);
}

.large {
  padding-bottom: rem(200px);
}

.spacerLine {
  &.small {
    padding-bottom: rem(36px);

    @include mq($from: tablet) {
      padding-bottom: rem(50px);
    }
  }

  &.medium {
    padding-top: rem(100px);
  }

  &.large {
    padding-top: rem(200px);
  }
}

.line {
  border-bottom: 1px dashed var(--color-divider);
}
