@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.small {
  padding-bottom: calc(var(--component-spacing) / 2);
}

.medium {
  padding-bottom: var(--component-spacing);
}

.large {
  padding-bottom: calc(2 * var(--component-spacing));
}

.spacerLine {
  &.small {
    padding-bottom: calc(var(--component-spacing) / 2);
  }

  &.medium {
    padding-top: var(--component-spacing);
  }

  &.large {
    padding-top: calc(2 * var(--component-spacing));
  }
}

.line {
  border-bottom: 1px dashed var(--color-divider);
}
