@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {}

.small {
    padding-bottom: rem(28px);
}

.medium {
    padding-bottom: rem(70px);
}

.large {
    padding-bottom: rem(100px);
}

.spacerLine {
    &.small {
        padding-top: rem(28px);
    }

    &.medium {
        padding-top: rem(70px);
    }

    &.large {
        padding-top: rem(100px);
    }
}

.line {
    border-bottom: 1px dashed var(--color-divider);
}