@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  display: flex;
  flex-direction: column;
  grid-column-gap: rem(40px);
  gap: rem(40px);

  @include mq($from: tablet) {
    flex-direction: row;
  }

  .column {
    width: calc(90%);

    @include mq($from: tablet) {
      width: calc(50% - rem(15px));
    }
  }

  .firstColumn {
  }

  .secondColumn {
  }

  .columnContainer {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
