@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  input,
  textarea {
    font-size: fluid(20px, 30px);
    padding: to.rem(10px) to.rem(15px);
    border: to.rem(2px) solid var(--color-primary);
    width: 100%;
    border-radius: 0;

    &:disabled {
      border-color: lightgrey;
    }
  }
}
