@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  label {
    font-size: to.rem(30px);
    display: block;
    margin-bottom: to.rem(10px);
  }

  input,
  textarea {
    font-size: to.rem(30px);
    padding: to.rem(10px) to.rem(15px);
    border: to.rem(2px) solid var(--color-primary);
    width: 100%;

    &:disabled {
      border-color: lightgrey;
    }
  }
}
