@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  margin-top: rem(44px);
  text-align: center;
}

.bullet {
  margin: 0 rem(7.5px);
  display: inline-block;
  appearance: none;
  cursor: pointer;
  width: rem(15px);
  height: rem(15px);
  border-radius: 50%;
  outline-offset: 4px;
  border: 0;
  padding: 0;
  border: 1px solid var(--color-black);
  transition: 0.4s ease background-color;
}

.bulletActive {
  background-color: var(--color-black);
}
