@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  margin: calc(-1 * var(--grid-vertical-spacing) / 2)
    calc(-1 * var(--grid-horizontal-spacing) / 2);

  > * {
    max-width: 100%;
    width: calc(100% - var(--grid-horizontal-spacing));
    margin: calc(var(--grid-vertical-spacing) / 2)
      calc(var(--grid-horizontal-spacing) / 2);
    flex-grow: 1;
    flex-shrink: 0;
  }
}

@for $var from 2 through 6 {
  $width: 100% / $var;

  .grid-#{$var}-col {
    > * {
      width: calc($width - var(--grid-horizontal-spacing));
      max-width: calc($width - var(--grid-horizontal-spacing));
    }

    &.fill {
      > * {
        max-width: none;
      }
    }
  }

  .grid-#{$var}-col-tablet {
    > * {
      @include mq($from: tablet) {
        width: calc($width - var(--grid-horizontal-spacing));
        max-width: calc($width - var(--grid-horizontal-spacing));
      }
    }

    &.fill {
      > * {
        max-width: none;
      }
    }
  }

  .grid-#{$var}-col-desktop {
    > * {
      @include mq($from: desktop) {
        width: calc($width - var(--grid-horizontal-spacing));
        max-width: calc($width - var(--grid-horizontal-spacing));
      }
    }

    &.fill {
      > * {
        max-width: none;
      }
    }
  }
}
