@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-column-gap: rem(20px);
  grid-row-gap: rem(100px);

  @include mq($from: tablet) {
    grid-column-gap: rem(30px);
    grid-row-gap: rem(30px);
    gap: rem(30px);
  }
}

.imageContainer {
  max-width: rem(525px);
  max-width: calc(50% - rem(20px));

  @include mq($until: tablet) {
    .image {
      transform: none !important;
    }
  }

  img {
    display: block;
  }

  @include mq($from: tablet) {
    &:nth-child(4n + 1) {
      align-self: flex-end;
      position: relative;

      .image {
        max-width: rem(575px);
        position: relative;
        top: rem(100px);
      }
    }

    &:nth-child(4n + 2) {
      padding-right: rem(30px);

      .image {
        max-width: rem(403px);
      }
    }

    &:nth-child(4n + 3) {
      display: flex;
      justify-content: flex-start;
      padding-right: rem(20px);
      width: 100%;

      .image {
        max-width: rem(414px);
        padding-top: rem(140px);
      }
    }

    &:nth-child(4n + 4) {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .image {
        max-width: rem(555px);
        padding-top: rem(300px);
        width: 100%;
      }
    }
  }
}
