@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  grid-column-gap: to.rem(20px);
  grid-row-gap: to.rem(40px);
  flex-direction: column;

  @include mq($from: tablet) {
    grid-column-gap: to.rem(30px);
    grid-row-gap: to.rem(30px);
    gap: to.rem(30px);
    flex-direction: row;
    grid-row-gap: to.rem(100px);
  }
}

.imageContainer {
  max-width: 100%;

  @include mq($from: tablet) {
    max-width: to.rem(525px);
    max-width: calc(50% - to.rem(20px));
  }

  @include mq($until: tablet) {
    .image {
      transform: none !important;
    }
  }

  img {
    display: block;
  }

  @include mq($from: tablet) {
    &:nth-child(4n + 1) {
      align-self: flex-end;
      position: relative;

      .image {
        max-width: to.rem(575px);
        position: relative;
        top: to.rem(100px);
      }
    }

    &:nth-child(4n + 2) {
      padding-right: to.rem(30px);

      .image {
        max-width: to.rem(403px);
      }
    }

    &:nth-child(4n + 3) {
      display: flex;
      justify-content: flex-start;
      padding-right: to.rem(20px);
      width: 100%;

      .image {
        max-width: to.rem(414px);
        padding-top: to.rem(140px);
      }
    }

    &:nth-child(4n + 4) {
      display: flex;
      justify-content: flex-end;
      width: 100%;

      .image {
        max-width: to.rem(555px);
        padding-top: to.rem(300px);
        width: 100%;
      }
    }
  }
}
