@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  padding-left: var(--page-gutter-left);
  padding-right: var(--page-gutter-right);
}

.container {
  max-width: var(--page-width);
  margin: 0 auto;
}
