@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/helpers' as *;
@use '@styles/base/variables' as *;

:root {
  --page-width: #{to.rem($default-max-bp)};
  --page-gutter: #{to.rem(20px)};
  --page-gutter-left: calc(var(--page-gutter) + env(safe-area-inset-left));
  --page-gutter-right: calc(var(--page-gutter) + env(safe-area-inset-right));
  --component-spacing: #{fluid(44px, 100px)};
  --vertical-spacing: #{to.rem(30px)};
  --horizontal-spacing: #{to.rem(30px)};
  --grid-vertical-spacing: #{to.rem(40px)};
  --grid-horizontal-spacing: #{to.rem(34px)};

  // Colors
  --color-black: #000;
  --color-white: #fff;
  --color-primary: #6d00cc;
  --color-secondary: #01ffff;
  --color-red: #fe2f2c;
  --color-green: #49a239;
  --color-divider: lightgrey;
  --color-text: var(--color-black);
  --color-text-reverse: var(--color-black);
  --color-bullets: var(--color-text);
  --color-link: var(--color-primary);
  --color-swiper-pagination: var(--color-black);

  @include mq($from: tablet) {
    --page-gutter: #{to.rem(40px)};
    --page-gutter-left: calc(var(--page-gutter) + env(safe-area-inset-left));
    --page-gutter-right: calc(var(--page-gutter) + env(safe-area-inset-right));
    --vertical-spacing: #{to.rem(60px)};
    --horizontal-spacing: #{to.rem(60px)};
    --grid-vertical-spacing: #{to.rem(50px)};
    --grid-horizontal-spacing: #{to.rem(86px)};
  }
}
