@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;

:root {
  --page-width: #{rem(1118px)};
  --page-gutter: #{rem(20px)};
  --component-spacing: #{rem(44px)};
  --vertical-spacing: #{rem(30px)};
  --horizontal-spacing: #{rem(30px)};
  --grid-vertical-spacing: #{rem(40px)};
  --grid-horizontal-spacing: #{rem(34px)};

  // Colors
  --color-divider: lightgrey;
  --color-bullets: var(--color-primary);
  --color-link: var(--color-primary);
  --color-swiper-pagination: var(--color-black);

  --color-black: #000;
  --color-white: #fff;
  --color-primary: #6200b1;
  --color-secondary: #01ffff;

  --color-text: var(--color-black);
  --color-text-reverse: var(--color-black);

  @include mq($from: tablet) {
    --component-spacing: #{rem(100px)};
    --page-gutter: #{rem(40px)};
    --vertical-spacing: #{rem(60px)};
    --horizontal-spacing: #{rem(60px)};
    --grid-vertical-spacing: #{rem(50px)};
    --grid-horizontal-spacing: #{rem(86px)};
  }
}
