@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: rem(24px);
    text-transform: capitalize;

    @include mq($from: tablet) {
      font-size: rem(30px);
    }

    svg {
      margin-left: rem(20px);

      @include mq($from: tablet) {
        margin-left: rem(35px);
      }
    }
  }

  .titleMarkup {
    span {
      font-family: var(--font-display);
    }
  }
}
