@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  a {
    text-decoration: none;
    color: var(--color-primary);
    text-transform: capitalize;
    font-size: to.rem(24px);
    font-size: clamp(
      #{to.rem(24px)},
      1.2991071428571428rem + 0.8241758241758242vw,
      #{to.rem(30px)}
    );
    display: flex;
    align-items: center;

    &:hover {
      svg {
        transform: translateX(to.rem(-10px));
      }
    }

    svg {
      position: relative;
      transition: 0.4s ease transform;
      width: to.rem(48px);
      width: clamp(
        #{to.rem(30px)},
        1.2723214285714284rem + 2.4725274725274726vw,
        #{to.rem(48px)}
      );
    }
  }

  .titleMarkup {
    span {
      font-weight: 700;
      margin-right: to.rem(20px);

      @include mq($from: tablet) {
        margin-right: to.rem(35px);
      }
    }
  }
}
