@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  a {
    text-decoration: none;
    color: var(--color-primary);
    font-size: rem(24px);
    text-transform: capitalize;

    @include mq($from: tablet) {
      font-size: rem(30px);
    }

    &:hover {
      svg {
        transform: translateX(rem(-10px));
      }
    }

    svg {
      position: relative;
      top: 5px;
      transition: 0.4s ease transform;
    }
  }

  .titleMarkup {
    span {
      font-weight: 700;
      margin-right: rem(20px);

      @include mq($from: tablet) {
        margin-right: rem(35px);
      }
    }
  }
}
