@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  position: relative;
}

.content {
  padding: to.rem(20px) 0 0;

  > *:last-child {
    margin-bottom: 0;
  }
}

.link {
  background-color: transparent;
  border: 0;

  &::after {
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
    cursor: pointer;
    content: '';
  }
}
