@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    right: rem(15px);
    content: var(--select-arrow);
    width: rem(23px);
    margin-top: -#{rem(6px)};
    pointer-events: none;
  }

  select {
    font-size: rem(30px);
    padding: rem(10px) rem(15px);
    border: rem(2px) solid var(--color-primary);
    width: 100%;
    appearance: none;
  }
}
