@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  position: relative;

  &::before {
    position: absolute;
    top: 50%;
    right: to.rem(15px);
    content: var(--select-arrow);
    width: to.rem(23px);
    margin-top: -#{to.rem(6px)};
    pointer-events: none;
  }

  select {
    font-size: to.rem(30px);
    padding: to.rem(10px) to.rem(50px) to.rem(10px) to.rem(15px);
    border: to.rem(2px) solid var(--color-primary);
    width: 100%;
    appearance: none;
  }
}
