@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  position: relative;
  display: grid;
  grid-template-columns: calc(var(--page-gutter) + env(safe-area-inset-left)) 1fr calc(
      var(--page-gutter) + env(safe-area-inset-right)
    );
  grid-template-rows: 1fr;
  gap: 0px 0px;
  @include breakContainer;
}

.headerMedia {
  grid-area: 1 / 1 / 2 / 4;
  min-height: rem(830px);

  @include mq($from: tablet) {
    min-height: rem(760px);
  }
}

.overlayContent {
  grid-area: 1 / 2 / 2 / 3;
  justify-self: center;
  align-self: center;
  max-width: var(--page-width);
  width: 100%;
  z-index: 10;
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  grid-row-gap: rem(100px);
  gap: rem(100px);

  @include mq($from: tablet) {
    align-items: flex-end;
    flex-direction: row;
    grid-column-gap: 56 / 1080 * 100%;
    gap: 56 / 1080 * 100%;
  }
}

.titleContainer {
  @include mq($from: tablet) {
    width: 710 / 1080 * 100%;
  }

  h1 {
    color: var(--color-white);
    font-size: rem(50px);
    line-height: rem(60px);

    @include mq($from: tablet) {
      font-size: rem(100px);
      line-height: rem(115px);
    }
  }
}

.infoContainer {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  grid-row-gap: rem(30px);
  gap: rem(30px);

  @include mq($from: tablet) {
    width: 312 / 1080 * 100%;
    grid-row-gap: rem(40px);
    gap: rem(40px);
    padding-bottom: rem(15px);
  }

  .infoTitle {
    color: var(--color-white);
    font-family: var(--font-display);
    font-size: rem(24px);
    line-height: rem(26px);
    margin-bottom: 0;

    @include mq($from: tablet) {
      padding-bottom: rem(5px);
    }
  }

  .infoText {
    font-size: rem(30px);
    line-height: rem(32px);
    margin-bottom: 0;
  }
}

.scrollButton {
  background: none;
  border: 0;
  padding: rem(15px);
  cursor: pointer;
  transition: 0.4s ease transform;

  &:hover {
    transform: translateY(rem(10px));
  }
}

.scrollChevron {
  display: none;

  @include mq($from: tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: rem(70px);
    top: rem(70px);
  }
}
