@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  position: relative;

  @include breakContainer;
}

.overlay {
  background-color: rgba($color: #000000, $alpha: 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.headerMedia {
  min-height: rem(830px);

  @include mq($from: tablet) {
    min-height: rem(760px);
  }
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: rem(1080px);
  max-width: 100%;
  max-width: calc(100% - var(--page-gutter));
}

.textContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  grid-row-gap: rem(100px);
  gap: rem(100px);
  padding: 0 var(--page-gutter);

  @include mq($from: tablet) {
    align-items: flex-end;
    flex-direction: row;
    grid-column-gap: 56 / 1080 * 100%;
    gap: 56 / 1080 * 100%;
    padding: 0;
  }
}

.titleContainer {
  @include mq($from: tablet) {
    width: 710 / 1080 * 100%;
  }

  h1 {
    color: var(--color-white);
    font-size: rem(50px);
    line-height: rem(60px);

    @include mq($from: tablet) {
      font-size: rem(100px);
      line-height: rem(115px);
    }
  }
}

.infoContainer {
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  grid-row-gap: rem(30px);
  gap: rem(30px);

  @include mq($from: tablet) {
    width: 312 / 1080 * 100%;
    grid-row-gap: rem(40px);
    gap: rem(40px);
    padding-bottom: rem(15px);
  }

  .infoTitle {
    color: var(--color-white);
    font-family: var(--font-display);
    font-size: rem(24px);
    line-height: rem(26px);
    margin-bottom: 0;

    @include mq($from: tablet) {
      padding-bottom: rem(5px);
    }
  }

  .infoText {
    font-size: rem(30px);
    line-height: rem(32px);
    margin-bottom: 0;
  }
}

.scrollButton {
  background: none;
  border: 0;
  padding: rem(15px);
  cursor: pointer;
  transition: 0.4s ease transform;

  &:hover {
    transform: translateY(rem(10px));
  }
}

.scrollChevron {
  display: none;

  @include mq($from: tablet) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: rem(70px);
    top: rem(70px);
  }
}
