@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  h2 {
    font-size: rem(32px);
    line-height: rem(38px);

    @include mq($from: tablet) {
      font-size: rem(52px);
      line-height: rem(70px);
    }
  }
}
