@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
}

.formFields {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    margin-bottom: to.rem(30px);
    width: 100%;
  }

  @include mq($from: tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      width: 45%;
    }
  }
}

.successMessage {
  color: var(--color-green);
  margin-top: to.rem(30px);
}
