@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    li {
      margin: 0 rem(10px);

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
