@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  position: relative;
  padding: 0 var(--page-gutter-right) 0 var(--page-gutter-left);
  background-color: transparent;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  grid-template-areas: 'logo menu';
  height: to.rem(96px);

  @include mq($from: mainMenu) {
    gap: 0px 0px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 'logo nav nav';
  }
}

.hamburgerWrapper {
  justify-self: end;
  align-self: center;
  grid-area: menu;

  @include mq($from: mainMenu) {
    display: none;
  }
}

.menuButton {
  background-color: transparent;
  border: 0;

  svg {
    width: to.rem(20px);
    height: to.rem(20px);
  }
}

.logoWrapper {
  grid-area: logo;
  align-self: center;
  z-index: 2;
}

.logo {
  width: to.rem(150px);
}

.visitLogo {
  width: to.rem(100px);
}

.visitLable {
  display: block;
  margin-bottom: to.rem(5px);
}

.menuWrapper {
  justify-self: left;
  grid-area: menu;
  align-self: center;

  @include mq($from: mainMenu) {
    justify-self: center;
    grid-area: menu;
    align-self: stretch;
  }

  nav {
    margin: 0 auto;
  }
}

.siteWrapper {
  grid-area: site;
  padding: var(--page-gutter);

  @include mq($from: mainMenu) {
    justify-self: end;
    align-self: center;
    padding: 0;
  }
  a {
    text-decoration: none;
  }
}

.navWrapper {
  display: none;
  gap: 0px 0px;

  @include mq($from: mainMenu) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: '. menu site';
    grid-area: 1 / 1 / 2 / 4;
    position: relative;
    z-index: 1;
  }

  &.menuOpen {
    background-color: var(--main-menu-mobile-bg-color);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
      'menu'
      'site';
    position: fixed;
    top: to.rem(96px);
    left: 0;
    z-index: 11;
    height: calc(100% - #{to.rem(96px)});
    width: 100%;
    overflow-y: auto;
  }
}

.menuClose {
  position: absolute;
  top: to.rem(20px);
  right: to.rem(20px);

  @include mq($from: mainMenu) {
    display: none;
  }
}
