@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  padding: rem(30px) var(--page-gutter);
  background-color: transparent;
  color: black;
  display: flex;
  align-items: center;
}

.headerItem {
  flex: 1 1;
  display: flex;
  position: relative;
  z-index: 11;
}

.logo {
  width: rem(150px);
}

.menuWrapper {
  nav {
    margin: 0 auto;
  }
}
