@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  position: relative;
}

.overlay {
  background-color: rgba($color: #000000, $alpha: 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.thumbnail {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
}

.thumbnailImage {
  width: 100%;
  height: 100%;
  grid-area: 1 / 1 / 2 / 2;
}

.play {
  grid-area: 1 / 1 / 2 / 2;
  align-self: center;
  justify-self: center;
  position: absolute;
  bottom: rem(40px);
  right: rem(40px);
  background-color: transparent;
  padding: rem(10px);

  svg {
    max-width: 25px;
    height: 25px;
  }
}

.playerWrapper {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 16/9;
}

.player {
  :global video {
    object-fit: cover;
  }
}
