@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
  display: block;
  overflow: hidden;
  margin: 0px;
  padding: 0px;

  img {
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
    height: 100%;
  }
}
