@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as to;
@use '@styles/base/root' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;
@use '@styles/base/normalize' as *;

html,
body,
#__next {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: var(--font-base);
  color: var(--color-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

a {
  color: var(--color-link);
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
}

ul,
ol,
li {
  margin: 0 0 10px;
  padding: 0;

  &::marker {
    color: var(--color-text-reverse);
  }
}

ul,
ol {
  padding-left: 20px;
  margin-bottom: 1.5rem;
}

li {
  padding-left: 10px;
  line-height: 1.466;
  font-size: to.rem(18px);

  @include mq($from: tablet) {
    font-size: to.rem(25px);
  }
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
  padding-inline-start: 0;
}

*:focus {
  outline: 0.1em #aa2b2b solid;
  outline-offset: 0.1rem;
}

*:focus:not(:focus-visible) {
  outline: 0;
  outline-offset: 0.25rem;
}

*:focus-visible {
  outline: 0.1em #aa2b2b solid;
  outline-offset: 0.1rem;
}

// article {
//   overflow-wrap: break-word;
//   word-wrap: break-word;
//   word-break: break-word;
//   hyphens: auto;
// }

strong {
  font-weight: 700;
}

pre {
  background: var(--color-black);
  color: var(--color-white);
  padding: to.rem(20px);
  line-height: 1.4;

  code {
    color: var(--color-white);
  }
}

code {
  color: var(--color-primary);
  word-wrap: break-word;
}
