@use '@styles/base/mq-settings';
@use '~sass-mq/mq' as *;
@use '~sass-rem' as *;
@use '@styles/base/variables' as *;
@use '@styles/base/helpers' as *;

.root {
}

.light {
  :root & {
    --color-background: #fff;
    --color-primary: #6200b1;
    --color-text: var(--color-black);
    --color-swiper-pagination: var(--color-black);

    color: var(--color-text);
  }
}

.dark {
  &:root & {
    --color-background: #000;
  }
}
