name: Deploy prod
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: "yarn"

      - name: Install dependencies and build
        run: |
          yarn set version berry
          yarn install --immutable
          yarn build
        env:
          NEXT_PUBLIC_BASE_URL: ${{ vars.NEXT_PUBLIC_BASE_URL }}
          NEXT_PUBLIC_DRUPAL_BASE_URL: ${{ vars.NEXT_PUBLIC_DRUPAL_BASE_URL }}
          NEXT_PUBLIC_IMAGE_CDN: ${{ vars.NEXT_PUBLIC_IMAGE_CDN }}

      - name: Generate deployment package
        run: |
          mkdir deploy
          cp -R .ebextensions Procfile public .next/standalone/* .next/standalone/.next deploy/
          cp -R .next/static deploy/.next/
          cd deploy && zip -r application.zip .ebextensions .next lib node_modules public package.json Procfile server.js

      - name: Deploy to EB
        uses: einaregilsson/beanstalk-deploy@v21
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: ${{ secrets.APPLICATION_NAME }}
          environment_name: ${{ secrets.ENVIRONMENT_NAME }}
          version_label: "build-${{ github.run_number }}-commit-${{ github.sha }}"
          region: ${{ secrets.AWS_DEFAULT_REGION }}
          deployment_package: deploy/application.zip
          existing_bucket_name: ${{ secrets.S3_BUCKET }}

  invalidate:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Invalidate AWS CloudFront Cache
        uses: chetan/invalidate-cloudfront-action@v2
        env:
          DISTRIBUTION: ${{ secrets.DISTRIBUTION }}
          PATHS: "/*"
          AWS_REGION: ${{ secrets.AWS_DEFAULT_REGION }}
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
